#sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 350px;
    height:350px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
    font-family: "Arial";
    padding-left: 10px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.h4{
    color:"black"
}